<?xml version="1.0" encoding="UTF-8"?>
<Context path="/pentaho" docbase="webapps/pentaho/">
	<Resource name="jdbc/Hibernate" auth="Container" type="javax.sql.DataSource"
		factory="org.apache.commons.dbcp.BasicDataSourceFactory" maxActive="20" maxIdle="5"
		maxWait="10000" username="hibuser" password="@@DB_PWD@@"
		driverClassName="com.mysql.jdbc.Driver" url="jdbc:mysql://@@DB_HOST@@:@@DB_PORT@@/hibernate?useSSL=false"
		validationQuery="select 1" />

	<Resource name="jdbc/Quartz" auth="Container" type="javax.sql.DataSource"
		factory="org.apache.commons.dbcp.BasicDataSourceFactory" maxActive="20" maxIdle="5"
		maxWait="10000" username="pentaho_user" password="@@DB_PWD@@"
		driverClassName="com.mysql.jdbc.Driver" url="jdbc:mysql://@@DB_HOST@@:@@DB_PORT@@/quartz?useSSL=false"
		validationQuery="select 1"/>

</Context>
